<form method="post" action="{{ path('note_delete', {'idnote': note.idnote}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.idnote) }}">
    <button class="btn btn-danger">Delete</button>
</form>
