{% extends 'base.html.twig' %}

{% block title %}Edit Restaurant{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <strong>Edit Restaurant</strong>
    </div>
    <div class="card-footer">
    {{ include('restaurant/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a class="btn btn-secondary" href="{{ path('restaurant_index') }}">back to list</a>
</div>
{% endblock %}
